<div id="solostuffgenerator">
    <video id="solostuffgenerator_background"></video>
    <div id="solostuffgenerator_content">
        <div id="solostuffgenerator_header">
            <div id="solostuffgenerator_header_returnbutton"></div>
            <div id="solostuffgenerator_header_separator"></div>
            <div id="solostuffgenerator_header_toolicon"></div>
            <div id="solostuffgenerator_header_toolname">STUFF ALÉATOIRE (SOLO)</div>
        </div>

        <div id="solostuffgenerator_player">
            <div id="solostuffgenerator_playerdisplay">
                <div id="solostuffgenerator_player_champ" data-tippy-content="Indéterminé"></div>
                <div id="solostuffgenerator_player_lane" class="unknown" data-tippy-content="Indéterminé"></div>
            </div>

            <div id="solostuffgenerator_playerlaneselector">
                <div class="form_select_group" id="solostuffgenerator_playerlanecontainer">
                    <label>Sélection du rôle</label>

                    <div class="form_select">
                        <span class="form_select_selectedOption" id="solostuffgenerator_playerlane" data-value="unknown">Inconnu</span>
                    </div>

                    <div class="form_select_optionsContainer">
                        <div class="form_select_option" data-value="top">Top</div>
                        <div class="form_select_option" data-value="jungle">Jungle</div>
                        <div class="form_select_option" data-value="middle">Mid</div>
                        <div class="form_select_option" data-value="adc">ADC</div>
                        <div class="form_select_option" data-value="support">Support</div>
                    </div>
                </div>
            </div>
        </div>

        <table id="solostuffgenerator_table">
            <tr>
                <td>
                    <div id="solostuffgenerator_colname_runes1" data-tippy-content="Runes de la branche principale"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_colname_runes2" data-tippy-content="Runes de la branche secondaire"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_colname_runes3" data-tippy-content="Runes pour les statistiques"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_colname_stuff" data-tippy-content="Stuff"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_colname_summoners" data-tippy-content="Sorts d'invocateurs"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_colname_spell" data-tippy-content="Pouvoir principal du champion"></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div id="solostuffgenerator_player_rune1" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune2" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune3" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune4" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_player_rune5" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune6" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_player_rune7" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune8" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_rune9" class="solostuffgenerator_player_rune" data-tippy-content="Indéterminé"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_player_item1" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item2" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item3" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item4" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item5" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item6" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_item7" class="solostuffgenerator_player_item" data-tippy-content="Indéterminé"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_player_summoner1" class="solostuffgenerator_player_summoner" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_summoner2" class="solostuffgenerator_player_summoner" data-tippy-content="Indéterminé"></div>
                </td>
                <td>
                    <div id="solostuffgenerator_player_mainspell" class="solostuffgenerator_player_spell" data-tippy-content="Indéterminé"></div>
                    <div id="solostuffgenerator_player_mainspell_letter" class="solostuffgenerator_player_spellletter">?</div>
                </td>
            </tr>
        </table>

        <div id="solostuffgenerator_champselectorcontainer">
            <div id="solostuffgenerator_champselector">
                <div id="solostuffgenerator_champselector_header">CHOIX DU CHAMPION</div>
                <div id="solostuffgenerator_champselector_separator"></div>
                <div id="solostuffgenerator_champselector_content"></div>
            </div>
        </div>

        <div id="solostuffgenerator_actionscontainer">
            <div id="solostuffgenerator_exitbutton"></div>
            <div id="solostuffgenerator_leftdecoration"></div>
            <div id="solostuffgenerator_rightdecoration"></div>
            <div id="solostuffgenerator_starttoolbuttoncontainer" class="solostuffgenerator_starttoolbuttondisabled">
                <div id="solostuffgenerator_starttoolbutton"></div>
                <div id="solostuffgenerator_starttoolbuttontext">GÉNÉRER LE STUFF</div>
            </div>
        </div>
    </div>
</div>
