#settings_close {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 100px;
  height: 32px;
  background-image: url('../../../../img/ui/settings/close_button/close_button_normal.jpg');
  background-repeat: no-repeat;
  background-size: 100px 32px;
  background-position: center center;
  font-family: 'Beaufort for LoL';
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  color: #c0b389;
  transform: translateX(-50%);
  transition: all 0.25s;
  z-index: 9999;
}

#settings_close:hover {
  background-image: url('../../../../img/ui/settings/close_button/close_button_hover.jpg');
  color: #e6dcc9;
}

#settings_close:active {
  background-image: url('../../../../img/ui/settings/close_button/close_button_active.jpg');
  color: #525250;
}
