<div id="homepage">
    <video id="homepage_background"></video>
    <div id="homepage_content">
        <div id="homepage_tabs">
            <div id="homepage_tab_patchnotes" class="homepage_tab homepage_currenttab">NOTES DE PATCH</div>
        </div>

        <div id="patchnotes">
            <div id="patchnotes_title">NOTES DE PATCH 2.3.0</div>
            <div id="patchnotes_postdata">INFINITY_54 - <strong>TBD (normalement juin 2023)</strong></div>
            <div id="patchnotes_content">
                <p><i class="patchnotes_quotestart"></i> Pendant le dernier tournoi Ultimate Bravery (le 11/06/2023), de nombreuses corrections de bugs ont été réalisées, pour les différents problèmes rencontrés au fil de ce dernier. <i class="patchnotes_quoteend"></i></p>
                <ul>
                    <li>Correction d'un bug entraînant une liste vide dans la sélection des champions sur l'outil de génération de stuff d'équipe</li>
                    <li>Correction d'un bug empêchant la génération des stuffs lorsque FiddleSticks est sélectionné comme champion (solo et équipe)</li>
                    <li>Correction d'un bug empêchant le fonctionnement du bouton pour quitter l'outil de génération d'un stuff aléatoire solo</li>
                    <li>Amélioration de l'apparence des scrollbars sur les sélections des champions dans les outils de génération de stuff (solo et équipe)</li>
                </ul>
                <br />
                <p><i class="patchnotes_quotestart"></i> Au cours du tournoi, le programme surchargeait en raison de la grande quantité de données à gérer continuellement. Il continuait à fonctionner correctement, mais n'arrivait pas à gérer tous les champions : Ziggs, Zilean, Zoé et Zyra n'étaient donc pas sélectionnables comme membre d'une équipe dans les outils de génération de stuffs. Ce problème a été corrigé. En parallèle, d'autres bugs ont été détectés et corrigés, et quelques améliorations du programme ont été réalisées. <i class="patchnotes_quoteend"></i></p>
                <ul>
                    <li>Refonte fonctionnelle de l'application, pour permettre de faciliter les prochaines mises à jour et corrections</li>
                    <li>Intégration des données de League of Legends directement dans les fichiers du programme, afin d'améliorer la réactivité du programme et de le rendre utilisable hors ligne <small>(sauf pour la mise à jour du programme)</small></li>
                    <li>Amélioration de la gestion des données, permettant un démarrage beaucoup plus rapide de l'application</li>
                    <li>Correction du survol du bouton "OUTILS", où une animation ne se déclenchait pas</li>
                    <li>Correction d'un problème entraînant l'impossibilité de sélectionner Ziggs, Zilean, Zoé ou Zyra dans le sélecteur de champions</li>
                    <li>Correction de la barre de téléchargement des mises à jour, qui revenait systématiquement à zéro</li>
                    <li>Correction d'une erreur de l'application lorsque l'on essaye de remplacer un objet indéterminé dans l'outil de génération d'un stuff solo</li>
                    <li>Correction d'un problème empêchant le générateur de stuff solo de récupérer le poste du joueur une fois sélectionné</li>
                    <li>Agrandissement de la taille de la liste des champions dans les fenêtres de sélections de champions des outils de génération de stuffs (solo et équipe)</li>
                    <li>Augmentation de la largeur du slider permettant de sélectionner le nombre de champions à générer dans l'outil de génération de champions</li>
                    <li>La précédente liste de champions générés par l'outil de génération de champions est réinitialisée quand l'outil est quitté</li>
                    <li>L'outil de génération de stuff solo est désormais réinitialisé quand il est quitté</li>
                    <!--
                    <li>L'outil de génération de stuff d'équipe est désormais réinitialisé quand il est quitté</li>
                    <li>Ajout d'une barre de recherche dans le sélecteur de champion, permettant de les rechercher plus rapidement</li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>
