<div id="mainui">
    <div id="mainheader">
        <div id="mainheader_content">
            <div id="league_header_logo_container">
                <video id="league_header_logo"></video>
                <div id="league_header_lobbybutton">
                    <video id="league_header_lobbybuttonvideo"></video>
                    <video id="league_header_lobbybuttonvideo_updateprogressoverlay"></video>
                    <video id="league_header_lobbybuttonvideo_updateprogressborderoverlay"></video>
                    <div id="league_header_lobbybuttontext">MISE À JOUR...</div>
                </div>
            </div>

            <div id="league_status_button_container">
                <div id="league_status_button" class="info"></div>
            </div>

            <div id="mainheader_currentpagearrow"></div>
            <div id="mainheader_menuitem_homepage" class="mainheader_menuitem mainheader_menuitem_currentpage">ACCUEIL</div>
        </div>

        <div id="mainheader_sidebarcontent">
            <div id="championhighlight_portrait"></div>
            <div id="championhighlight_name">Inconnu</div>
            <div id="championhighlight_title">Champion du jour</div>
        </div>

        <div id="mainheader_windowbuttons">
            <div id="windowbutton_reduce"></div>
            <div id="windowbutton_settings"></div>
            <div id="windowbutton_exit"></div>
        </div>
    </div>

    <div id="contentarea">
        {% include "mainui/content/homepage.html.twig" %}
        {% include "mainui/content/toolselector.html.twig" %}
        {% include "mainui/content/champlistgenerator.html.twig" %}
        {% include "mainui/content/stuffgenerator.html.twig" %}
    </div>

    <div id="sidebararea">
        <div id="championhighlight_skins"></div>
        <div id="appversion">Version X.X.X - LoL XX.XX.X</div>
    </div>
</div>
