<div id="settings">
    <div id="settings_window_background"></div>
    <div id="settings_window_content">
        <div id="settings_title">PARAMÈTRES</div>
        <div id="settings_separator"></div>
        <div id="settings_content">
        </div>
        <div id="settings_menu">
            <div id="settings_menu_audio" class="settings_menu_item settings_menu_active" data-itemcontainer="settings_audio">
                <div class="settings_menu_item_activeindicator"></div>
                <div class="settings_menu_item_name">AUDIO</div>
            </div>
        </div>
        <div id="settings_items">
            <div id="settings_audio">
                <div id="settings_audio_enablesound">
                    <input id="settings_audio_enablesound_input" type="checkbox" name="settings_audio_enablesound_input" checked="checked">
                    <label for="settings_audio_enablesound_input">Activer le son</label>
                </div>
            </div>
        </div>
        <div id="settings_close">TERMINÉ</div>
    </div>
</div>
