<div id="startup">
    <div id="startup_ring"></div>
    <div id="startup_logo"></div>
    <div id="startup_progresstext">CHARGEMENT</div>
    <div id="startup_progressbar">
        <div id="startup_progress"></div>
    </div>
</div>
