<div id="app_status_messages_container">
    <div id="app_status_messages_topborder"></div>
    <div id="app_status_messages_list">
        <div class="app_status_message">
            <div class="app_status_message_title">APPLICATION EN BÊTA</div>
            <div class="app_status_message_content">Le gestionnaire de tournoi Ultimate Bravery a subi une importante refonte (autant graphique que fonctionnelle). Même s'il a été testé, il peut toujours présenter quelques petits problèmes. N'hésitez pas à me les signaler si c'est le cas !</div>
        </div>
    </div>
</div>
