#mainheader_currentpagearrow {
  position: fixed;
  top: 2px;
  width: 28px;
  height: 15px;
  background-image: url('../../../../img/ui/nav-pointer.png');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mainheader_menuitem {
  display: inline-flex;
  width: auto;
  height: 76px;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(195,181,139,0) 100%);
  line-height: 79px;
  font-family: 'Beaufort for LoL';
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #c3b58b;
  app-region: no-drag;
  transition: all 0.5s;
}

.mainheader_menuitem:hover {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(195,181,139,0.25) 100%);
  color: #f0e6d2;
  cursor: pointer;
}

.mainheader_menuitem_currentpage {
  display: inline-flex;
  width: auto;
  height: 76px;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(195,181,139,0.25) 100%);
  line-height: 79px;
  font-family: 'Beaufort for LoL';
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #f0e6d2;
  app-region: no-drag;
}

.mainheader_menuitem_currentpage:hover {
  cursor: default;
}
