#mainheader_windowbuttons {
  position: fixed;
  top: 2px;
  right: 0;
  width: 104px;
  height: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  app-region: no-drag;
  z-index: 99999;

  #windowbutton_reduce, #windowbutton_settings, #windowbutton_exit {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.75;
  }

  #windowbutton_reduce:hover, #windowbutton_settings:hover, #windowbutton_exit:hover {
    opacity: 1;
  }

  #windowbutton_reduce:active, #windowbutton_settings:active, #windowbutton_exit:active {
    opacity: 0.33;
  }

  #windowbutton_reduce {
    background-image: url('../../../../img/ui/window_controls/control-hide.png');
  }

  #windowbutton_settings {
    background-image: url('../../../../img/ui/window_controls/control-settings.png');
  }

  #windowbutton_exit {
    background-image: url('../../../../img/ui/window_controls/control-close.png');
  }
}
