<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Gestionnaire de tournoi Ultimate Bravery</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="app_imageplaceholder">
      <div id="toolselector_champlistgenerator_staticicon_default"></div>
      <div id="toolselector_champlistgenerator_staticicon_hover"></div>
      <div id="toolselector_stuffgenerator_staticicon_default"></div>
      <div id="toolselector_stuffgenerator_staticicon_hover"></div>
    </div>

    {% include "pages/startup.html.twig" %}
    {% include "pages/mainui.html.twig" %}
    {% include "pages/settings.html.twig" %}
    {% include "pages/status_messages.html.twig" %}
  </body>
</html>
