#champlistgenerator {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 224px);
  height: 100vh;
  overflow: hidden;
  display: none;

  #champlistgenerator_background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: 100vh;
    background-image: url('../../../../../img/ui/tools/champlistgenerator/champlistgenerator_background.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    z-index: 1;
  }

  #champlistgenerator_content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: calc(100vh - 79px);
    margin-top: 79px;
    text-align: center;
    z-index: 2;

    @import "champlistgenerator/header";
    @import "champlistgenerator/tooloptions";

    #champlistgenerator_generatedchamplist {
      position: absolute;
      top: 65px;
      left: 25px;
      width: 1005px;
      height: 500px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: auto;

      div {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 100px 100px;
      }
    }

    @import "champlistgenerator/actions";
  }
}
