#settings_items {
  position: absolute;
  top: 77px;
  right: 1px;
  width: 529px;
  height: 477px;
  font-family: 'Spiegel';
  font-size: 12px;
  color: #938f82;

  #settings_audio {
    width: 479px;
    max-height: 467px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;

    #settings_audio_enablesound {
      input[type=checkbox] {
        display: none;
      }

      label {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding-left: 24px;
        margin-right: 10px;
      }

      label::before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
      }

      label::before {
        background-image: url('../../../../img/ui/form/checkbox-spritesheet.png');
        background-position: 0 0;
        background-size: cover;
        width: 14px;
        height: 14px;
        margin-top: 2px;
      }

      label:hover::before {
        background-image: url('../../../../img/ui/form/checkbox-spritesheet.png');
        background-position: 0 -14px;
        background-size: cover;
        width: 14px;
        height: 14px;
        margin-top: 2px;
      }

      input[type=checkbox]:checked + label::before {
        background-image: url('../../../../img/ui/form/checkbox-spritesheet.png');
        background-size: cover;
        background-position: 0 -28px;
        width: 14px;
        height: 14px;
      }

      input[type=checkbox]:checked + label:hover::before {
        background-image: url('../../../../img/ui/form/checkbox-spritesheet.png');
        background-size: cover;
        background-position: 0 -42px;
        width: 14px;
        height: 14px;
      }
    }
  }
}
