#league_status_button_container {
  display: inline-flex;
  margin-right: 16px;
  width: 30.5px;
  height: 76px;
  app-region: no-drag;

  #league_status_button {
    width: 30.5px;
    height: 30.5px;
    margin-top: 24px;
  }

  #league_status_button.danger {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-red.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #league_status_button.danger:hover {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-red-hover.png');
  }

  #league_status_button.danger:active {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-red-active.png');
  }

  #league_status_button.warning {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-yellow.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #league_status_button.warning:hover {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-yellow-hover.png');
  }

  #league_status_button.warning:active {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-yellow-active.png');
  }

  #league_status_button.info {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-blue.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #league_status_button.info:hover {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-blue-hover.png');
  }

  #league_status_button.info:active {
    background-image: url('../../../../../img/ui/mainui/status_button/button-ticker-blue-active.png');
  }
}
