#solostuffgenerator_champselectorcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;

  #solostuffgenerator_champselector {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 744px;
    height: 544px;
    background-color: #010a13;
    border: 2px solid #463714;
    transform: translate(-50%, -50%);
    overflow: hidden;

    #solostuffgenerator_champselector_header {
      position: absolute;
      top: 20px;
      left: 21px;
      width: 708px;
      height: 20px;
      font-family: "Beaufort for LoL";
      font-weight: 700;
      font-size: 17px;
      color: #f0e6d2;
      line-height: 42px;
      text-align: left;
    }

    #solostuffgenerator_champselector_separator {
      position: absolute;
      top: 77px;
      left: 18px;
      width: 708px;
      height: 1px;
      background-color: #1e2328;
    }

    #solostuffgenerator_champselector_content {
      position: absolute;
      top: 309px;
      left: 370px;
      width: 725px;
      height: 462px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translate(-50%, -50%);
      z-index: 999;

      @import "../../scrollbar";

      div {
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        border: 1px solid #3c3c41;
        background-repeat: no-repeat;
        background-size: 80px 80px;
      }
    }
  }
}
