@keyframes ringRotation {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#startup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #010a13;
  background-image: url("../../../img/ui/startup/startup_background.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;

  #startup_ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 505px;
    height: 505px;
    background-image: url("../../../img/ui/startup/ring-splash-dashed.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: ringRotation 90s linear infinite;
    opacity: 50%;
  }

  #startup_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -71%);
    background-image: url("../../../img/ui/lol_icon.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #startup_progresstext {
    position: absolute;
    top: 59%;
    left: 50%;
    width: 365px;
    height: 15px;
    transform: translate(calc(-50% - 1px), -3px);
    font-family: 'Beaufort for LoL';
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    text-align: center;
    line-height: 100%;
    color: #c8aa6e;
  }

  #startup_progressbar {
    position: absolute;
    top: 63%;
    left: 50%;
    width: 200px;
    height: 12px;
    transform: translate(-50%, -5.5px);
    border: 1px solid #c8aa6e;
    border-radius: 10px;
    overflow: hidden;

    #startup_progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(90deg, #005a82 0%, #6bc8d2 100%);
    }
  }
}
