#app_status_messages_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-image: url('../../../img/transparent.png');
  background-repeat: repeat;
  z-index: 20;

  #app_status_messages_topborder {
    position: fixed;
    top: 62px;
    left: 74px;
    width: 288px;
    height: 12px;
    background-image: url('../../../img/ui/status_messages/status_messages_topborder.png');
    background-position: center center;
    background-size: 288px 12px;
    background-repeat: no-repeat;
  }

  #app_status_messages_list {
    position: fixed;
    top: 74px;
    left: 66px;
    width: 304px;
    min-height: 100px;
    background-color: #010a13;
    border: 2px solid #463714;

    .app_status_message {
      width: 266px;
      margin: 11px 17px;

      .app_status_message_title {
        font-family: 'Beaufort for LoL';
        font-size: 16px;
        font-weight: bold;
        color: #f0e6d2;
      }

      .app_status_message_content {
        margin-top: 6px;
        font-family: 'Spiegel';
        font-size: 12px;
        color: #938f82;
      }
    }

    .app_status_message:not(:last-child) {
      margin-bottom: 14px;
      border-bottom: 1px solid #463714;
      padding-bottom: 14px;
    }
  }
}
