#championhighlight_skins {
  position: absolute;
  top: 79px;
  left: 0;
  width: 224px;
  height: calc(100vh - 79px - 34px);
  overflow: hidden;

  .championhighlight_skin {
    position: relative;
    width: 224px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .championhighlight_skin:active {
    position: absolute;
    top: 0;
    left: 0;
    width: 224px;
    height: calc(100vh - 79px - 34px) !important;
    z-index: 10;
  }
}
