<div id="champlistgenerator">
    <video id="champlistgenerator_background"></video>
    <div id="champlistgenerator_content">
        <div id="champlistgenerator_header">
            <div id="champlistgenerator_header_returnbutton"></div>
            <div id="champlistgenerator_header_separator"></div>
            <div id="champlistgenerator_header_toolicon"></div>
            <div id="champlistgenerator_header_toolname">CHAMPIONS ALÉATOIRES</div>
        </div>

        <div id="champlistgenerator_tooloptions">
            <p><input type="range" id="champlistgenerator_tooloptions_numberofchampions" min="0" step="1"></p>
            <p><label id="champlistgenerator_tooloptions_numberofchampions_label" for="champlistgenerator_tooloptions_numberofchampions">Nombre de champions à générer : 0</label></p>
        </div>

        <div id="champlistgenerator_generatedchamplist"></div>

        <div id="champlistgenerator_actionscontainer">
            <div id="champlistgenerator_exitbutton"></div>
            <div id="champlistgenerator_leftdecoration"></div>
            <div id="champlistgenerator_rightdecoration"></div>
            <div id="champlistgenerator_starttoolbuttoncontainer">
                <div id="champlistgenerator_starttoolbutton"></div>
                <div id="champlistgenerator_starttoolbuttontext">GÉNÉRER LA LISTE</div>
            </div>
        </div>
    </div>
</div>
