<div id="homepage">
    <video id="homepage_background"></video>
    <div id="homepage_content">
        <div id="homepage_tabs">
            <div id="homepage_tab_patchnotes" class="homepage_tab homepage_currenttab">NOTES DE PATCH</div>
        </div>

        <div id="patchnotes">
            <div id="patchnotes_title">NOTES DE PATCH 2.0.0</div>
            <div id="patchnotes_postdata">INFINITY_54 - <strong>TBD</strong></div>
            <div id="patchnotes_content">
                <p><i class="patchnotes_quotestart"></i> Ouaaaaaaaaaaaaaaaaaaaaah mais que c'est beau ici ! On dirait que le programme a subi un petit lifting. 😁<br />J'ai profité du fait de refaire la quasi-totalité du code pour modifier le fonctionnement du programme, surtout grâce à la nouvelle apparence graphique. Cassiopeia reçoit aussi une petite aide supplémentaire, en raison de son impossibilité à acheter des bottes dans la boutique, ce qui n'était pas encore géré. <i class="patchnotes_quoteend"></i></p>
                <ul>
                    <li>Refonte graphique complète de l'application <span style="font-size: 9px;"><em>(mais ça, j'imagine que vous aviez deviné ! coucou client de LoL 🙂)</em></span></li>
                    <li>Ajout d'une section dédiée aux paramètres de l'application, notamment pour activer/désactiver les sons de l'application</li>
                    <li>Ajout d'un système de mise à jour automatique</li>
                    <li>Ajout d'un statut de service (comme sur LoL, le petit point d'exclamation bleu/jaune/rouge, mais promis, il sera généralement absent !)</li>
                    <li>Ajout d'une bulle affichant le nom du champion au survol dans le générateur de stuff et dans le générateur de liste</li>
                    <li>Ajout d'une bulle affichant le nom des colonnes au survol de leurs icônes dans le générateur de stuff</li>
                    <li>Ajout d'une bulle affichant le nom d'un item au survol dans le générateur de stuff</li>
                    <li>Ajout d'une bulle affichant le nom du pouvoir principal d'un champion dans le générateur de stuff</li>
                    <li>Ajout d'une bulle affichant le nom d'une rune au survol dans le générateur de stuff</li>
                    <li>Prise en charge de Cassiopeia pour la génération du stuff, qui ne peut pas acheter de bottes in-game (les bottes sont remplacées par un item légendaire supplémentaire, et la rune "Chaussures magiques" peut toujours être sélectionnée par le générateur pour que le jeu choisisse lui-même une rune de remplacement)</li>
                    <li>Amélioration des performances globales de l'application et des outils</li>
                    <li>La possibilité de remplacer manuellement un objet légendaire d'un stuff généré a été étendue à tous les autres items (le type de l'objet reste pris en compte : des bottes seront remplacées par des bottes, un item jungle par un autre item jungle, et ainsi de suite)</li>
                    <li>Correction des problèmes de ralentissement pendant l'exécution des différents outils</li>
                    <li>Correction de problèmes lors de la récupération des spells d'un champion enregistré avec un identifiant différent de son nom dans les fichiers de Riot (exemples : Aurelion Sol/AurelionSol, Maître Yi/MasterYi ou encore Wukong/MonkeyKing).</li>
                </ul>
                <br />
                <p><i class="patchnotes_quotestart"></i> Malgré la refonte graphique du programme, le fonctionnement des outils ne change pas réellement, même s'il y a quand même quelques différences à cause des modifications apportées à l'interface. <i class="patchnotes_quoteend"></i></p>
            </div>
        </div>
    </div>
</div>
