<div id="homepage">
    <video id="homepage_background"></video>
    <div id="homepage_content">
        <div id="homepage_tabs">
            <div id="homepage_tab_patchnotes" class="homepage_tab homepage_currenttab">NOTES DE PATCH</div>
        </div>

        <div id="patchnotes">
            <div id="patchnotes_title">NOTES DE PATCH 2.2.0</div>
            <div id="patchnotes_postdata">INFINITY_54 - <strong>06/05/2023</strong></div>
            <div id="patchnotes_content">
                <p class="patchnotes_sectiontitle">MISES À JOUR DE MI-PATCH</p>
                <p>
                    11/06/2023 : Correction d'un bug entraînant une liste vide dans la sélection des champions sur l'outil de génération de stuff d'équipe
                    <br />
                    11/06/2023 : Amélioration de l'apparence des scrollbars sur les sélections des champions dans les outils de génération de stuff (solo et équipe)
                    <br />
                    11/06/2023 : Désactivation des outils de développement ayant été oubliés du programme (oupsi 👀)
                </p>
                <p><i class="patchnotes_quotestart"></i> Suite au second tournoi Ultimate Bravery (le 1er avec le programme), quelques suggestions/propositions/demandes ont été formulées pour améliorer le programme. Ces modifications ont été ajoutées au programme pendant et après cette seconde édition du tournoi. <i class="patchnotes_quoteend"></i></p>
                <p>
                    11/06/2023 : Réduction de la taille des champions dans le générateur aléatoire de liste de champions
                    <br />
                    11/06/2023 : Correction de l'affichage mi-AZERTY mi-QUERTY des touches des spells des champions (notamment le Q et le W, affichés comme Q et Z initialement) dans les outils de génération des stuffs
                    <br />
                    11/06/2023 : Correction d'un bug empêchant la génération des stuffs lorsque FiddleSticks est sélectionné comme champion (solo et équipe)
                </p>
                <div class="patchnotes_separator"></div>
                <p class="patchnotes_sectiontitle">DÉTAIL DU PATCH ORIGINAL</p>
                <p><i class="patchnotes_quotestart"></i> 2 mois après la dernière mise à jour du programme, nouvelle mise à jour, cette fois-ci en vue du prochain tournoi Ultimate Bravery (qui est en cours, si ce message est visible 🥳). Le but de cette mise à jour est surtout de rendre le programme plus pratique à utiliser. <i class="patchnotes_quoteend"></i></p>
                <br />
                <p class="patchnotes_sectiontitle">MODIFICATION DU FONCTIONNEMENT DU SYSTÈME DE MISE À JOUR</p>
                <p>
                    <i class="patchnotes_quotestart"></i> Quand j'ai créé ce programme, le système de mise à jour a été programmé pour s'exécuter au moment où vous arrivez dans la reproduction du client. Le but, c'était de pouvoir utiliser le bruitage et l'animation que vous voyez en haut à gauche du client, à côté du logo du jeu, quand une mise à jour du jeu est disponible. <small>Attention, la suite est un peu plus technique (mais ça reste compréhensible).</small>
                    <br />
                    Le problème qui se posait, c'est que le programme a besoin, pour fonctionner, de traiter toutes les données du jeu (notamment les champions) avant que le programme ne soit réellement utilisable. Sinon, sans ça, certaines parties du programme (notamment les fenêtres de sélection d'un champion sur les outils de génération de stuffs) sont partiellement disponibles et, du coup, certains champions ne sont disponibles qu'après plusieurs minutes d'initialisation.
                    <br />
                    Pour régler ce problème, le système de mise à jour a été déplacé, et s'exécute maintenant dès le démarrage du programme, avant l'initialisation des données. Ce qui permet au programme d'être plus rapidement opérationnel, puisque qu'il n'est plus nécessaire de passer 2 fois par l'initialisation complète du programme. <i class="patchnotes_quoteend"></i>
                </p>
                <p class="patchnotes_sectiontitle">AUTRES MODIFICATIONS</p>
                <p><i class="patchnotes_quotestart"></i> Le fait d'avoir modifié le comportement du système de mise à jour implique que certains fichiers, notamment liées aux sons et aux animations, ne sont plus utilisés. Du coup, ils ont été supprimés pour permettre d'alléger encore un peu le programme. <i class="patchnotes_quoteend"></i></p>
                <ul>
                    <li>Suppression du bruitage signalant la fin de la mise à jour</li>
                    <li>Suppression des vidéos correspondantes à l'animation de la barre de progression de la mise à jour du client <small>(qui était utilisée sur le bouton "Outils" en haut à gauche de la fenêtre)</small></li>
                    <li>Remplacement du terme "Installation" par "Préparation" dans le système de mise à jour, puisque l'installation n'intervient en réalité qu'à la fermeture du programme</li>
                </ul>
            </div>
        </div>
    </div>
</div>
