<div id="toolselector">
    <video id="toolselector_background"></video>
    <div id="toolselector_content">
        <div id="toolselector_tabs">
            <div id="toolselector_tab_patchnotes" class="toolselector_tab toolselector_currenttab">OUTILS</div>
        </div>

        <div id="toolselector_champlistgenerator" class="toolselector_toolarea">
            <div id="toolselector_champlistgenerator_iconcontainer" class="toolselector_iconcontainer">
                <div id="toolselector_champlistgenerator_staticicon" class="toolselector_staticmodeicon"></div>
                <video id="toolselector_champlistgenerator_animatedicon" class="toolselector_animatedmodeicon"></video>
            </div>

            <div id="toolselector_champlistgenerator_toolname" class="toolselector_toolname">GÉNÉRATEUR DE CHAMPIONS</div>
            <div id="toolselector_champlistgenerator_separator" class="toolselector_separator"></div>
            <div id="toolselector_champlistgenerator_summary" class="toolselector_summary">Outil permettant de générer une liste aléatoire de plusieurs champions.</div>
        </div>

        <div id="toolselector_stuffgenerator" class="toolselector_toolarea">
            <div id="toolselector_stuffgenerator_iconcontainer" class="toolselector_iconcontainer">
                <div id="toolselector_stuffgenerator_staticicon" class="toolselector_staticmodeicon"></div>
                <video id="toolselector_stuffgenerator_animatedicon" class="toolselector_animatedmodeicon"></video>
            </div>

            <div id="toolselector_stuffgenerator_toolname" class="toolselector_toolname">GÉNÉRATEUR DE STUFF</div>
            <div id="toolselector_stuffgenerator_separator" class="toolselector_separator"></div>
            <div id="toolselector_stuffgenerator_summary" class="toolselector_summary">Outil permettant de générer une liste aléatoire de runes et d'objets pour chaque champion d'une équipe, en fonction de son poste, et de choisir le pouvoir principal de chacun d'entre eux.</div>
        </div>

        <div id="toolselector_actionscontainer">
            <div id="toolselector_exitbutton"></div>
            <div id="toolselector_confirmbuttoncontainer">
                <div id="toolselector_confirmbutton"></div>
                <div id="toolselector_confirmbuttontext">CONTINUER</div>
            </div>
        </div>
    </div>
</div>
