#toolselector {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 224px);
  height: 100vh;
  overflow: hidden;
  display: none;

  #toolselector_background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: 100vh;
    z-index: 1;
    object-fit: cover;
  }

  #toolselector_content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: calc(100vh - 79px);
    margin-top: 79px;
    text-align: center;
    z-index: 2;

    @import "tabs";
    @import "toolarea";
    @import "actions";
  }
}
