.toolselector_toolarea {
  display: inline-block;
  width: 240px;
  height: calc(100vh - 79px - 156px);
  margin-top: 93px;
  margin-left: 0;
  margin-right: 0;

  // Commun à tous les boutons
  .toolselector_iconcontainer, .toolselector_staticmodeicon, .toolselector_animatedmodeicon {
    position: absolute;
    width: 94px;
    height: 94px;
  }

  .toolselector_iconcontainer, .toolselector_staticmodeicon {
    background-size: 94px 94px;
    background-repeat: no-repeat;
  }

  .toolselector_iconcontainer {
    background-position: 45px center;
    background-size: 94px 94px;
    background-repeat: no-repeat;
  }

  .toolselector_staticmodeicon {
    background-position: center center;
    background-size: 94px 94px;
    background-repeat: no-repeat;
  }

  .toolselector_iconcontainer {
    margin-top: -32px;
    margin-left: 30px;
  }

  .toolselector_staticmodeicon {
    left: 45px;
  }

  .toolselector_animatedmodeicon {
    left: 45px;
    display: none;
  }

  .toolselector_toolname, .toolselector_separator, .toolselector_summary {
    position: absolute;
    width: 240px;
  }

  .toolselector_toolname {
    top: 211px;
    font-family: 'Beaufort for LoL';
    font-weight: 700;
    font-size: 25px;
    color: #cdbe91;
    text-align: center;
    line-height: 29px;
    transition: color 0.5s;
  }

  .toolselector_separator {
    top: 302px;
    border-bottom: 1px solid #5e6766;
  }

  .toolselector_summary {
    top: 318px;
    font-family: 'Spiegel';
    font-size: 13px;
    color: #9c9788;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.5s;
  }

  // Spécifique à chaque bouton
  #toolselector_champlistgenerator_iconcontainer {
    background-image: url('../../../../img/pages/toolselector/buttons/champlistgenerator/tutorial-disabled.png');
  }

  #toolselector_champlistgenerator_staticicon {
    background-image: url('../../../../img/pages/toolselector/buttons/champlistgenerator/tutorial-default.png');
  }

  #toolselector_champlistgenerator_staticicon:hover {
    background-image: url('../../../../img/pages/toolselector/buttons/champlistgenerator/tutorial-hover.png');
  }

  #toolselector_solostuffgenerator_iconcontainer {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-disabled.png');
  }

  #toolselector_solostuffgenerator_staticicon {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-default.png');
  }

  #toolselector_solostuffgenerator_staticicon:hover {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-hover.png');
  }

  #toolselector_stuffgenerator_iconcontainer {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-disabled.png');
  }

  #toolselector_stuffgenerator_staticicon {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-default.png');
  }

  #toolselector_stuffgenerator_staticicon:hover {
    background-image: url('../../../../img/pages/toolselector/buttons/stuffgenerator/battletraining-hover.png');
  }
}

.toolselector_toolarea:hover {
  .toolselector_toolname {
    color: #f1e8d6;
  }

  .toolselector_summary {
    color: #e9ddcd;
  }
}

.toolselector_currentselectedtool, .toolselector_currentselectedtool:hover {
  .toolselector_toolname {
    color: #f1e8d6;
  }

  .toolselector_separator {
    background: radial-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));
  }

  .toolselector_summary {
    color: #e9ddcd;
  }
}
