#champlistgenerator_header {
  position: absolute;
  top: 15px;
  left: 25px;
  width: fit-content;
  height: 28px;

  #champlistgenerator_header_returnbutton {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../../../img/tools/common/header/returnbutton/button-framedarrow.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
  }

  #champlistgenerator_header_returnbutton:hover {
    background-image: url('../../../../img/tools/common/header/returnbutton/button-framedarrow-over.png');
  }

  #champlistgenerator_header_returnbutton:active {
    background-image: url('../../../../img/tools/common/header/returnbutton/button-framedarrow-down.png');
  }

  #champlistgenerator_header_separator {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #434b50;
    margin-left: 13px;
  }

  #champlistgenerator_header_toolicon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../../../img/tools/champlistgenerator/tutorial-active.png');
    background-size: 22px 22px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 14px;
  }

  #champlistgenerator_header_toolname {
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 28px;
    font-family: "Beaufort for LoL";
    font-weight: 700;
    font-size: 14px;
    color: #f0e6d2;
    line-height: 28px;
    margin-left: 14px;
    text-align: left;
  }
}
