.stuffgenerator_player_champpict {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 50px;
  margin-right: -50px;
  background-image: url('../../../../../img/tools/stuffgenerator/no_champ.png');
  background-size: 80px 80px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #c3b58b;
  border-radius: 50px;
}

.stuffgenerator_player_laneicon {
  position: relative;
  top: 5px;
  left: -63px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #010a13;
  background-size: 38px 38px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #c3b58b;
  border-radius: 50px;
}

.stuffgenerator_player_rune, .stuffgenerator_player_item, .stuffgenerator_player_summoner, .stuffgenerator_player_spell {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #070a10;
  background-position: center center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  border: 1px solid #c3b58b;
  margin: 0;
}

.stuffgenerator_player_spellletter {
  position: relative;
  top: 5px;
  left: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-family: 'Beaufort for LoL';
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #c3b58b;
  background-color: #010a13;
  border: 1px solid #c3b58b;
  border-radius: 50px;
}

#stuffgenerator_player_top {
  .stuffgenerator_player_laneicon {
    background-image: url("../../../../../img/tools/stuffgenerator/lanes/top.png");
  }
}

#stuffgenerator_player_jungle {
  .stuffgenerator_player_laneicon {
    background-image: url("../../../../../img/tools/stuffgenerator/lanes/jungle.png");
  }
}

#stuffgenerator_player_middle {
  .stuffgenerator_player_laneicon {
    background-image: url("../../../../../img/tools/stuffgenerator/lanes/mid.png");
  }
}

#stuffgenerator_player_adc {
  .stuffgenerator_player_laneicon {
    background-image: url("../../../../../img/tools/stuffgenerator/lanes/bottom.png");
  }
}

#stuffgenerator_player_support  {
  .stuffgenerator_player_laneicon {
    background-image: url("../../../../../img/tools/stuffgenerator/lanes/support.png");
  }
}

#stuffgenerator_player_top, #stuffgenerator_player_jungle, #stuffgenerator_player_middle, #stuffgenerator_player_adc, #stuffgenerator_player_support {
  td {
    .stuffgenerator_player_spell {
      margin-top: 2px;
      margin-right: -15px;
    }
  }
}
