<div id="app_status_messages_container">
    <div id="app_status_messages_topborder"></div>
    <div id="app_status_messages_list">
        <div class="app_status_message">
            <div class="app_status_message_title">PROBLÈMES DANS LA SÉLECTION DES CHAMPIONS</div>
            <div class="app_status_message_content">Zilean, Zoé et Zyra ne peuvent pas être sélectionnés dans les outils de génération de stuffs. Des limitations techniques empêchent le programme de les gérer dans le cadre de la sélection. Ziggs est également concerné par ce problème, mais pas systématiquement comme pour les 3 autres champions. Une correction est en cours de création, mais prendra du temps.</div>
        </div>
    </div>
</div>
