#stuffgenerator_colname_runes1, #stuffgenerator_colname_runes2, #stuffgenerator_colname_runes3, #stuffgenerator_colname_stuff, #stuffgenerator_colname_summoners, #stuffgenerator_colname_spell {
  position: fixed;
  height: 20px;
  background-repeat: no-repeat;
  z-index: 999;
}

#stuffgenerator_colname_runes1, #stuffgenerator_colname_runes2, #stuffgenerator_colname_runes3 {
  background-image: url('../../../../../../img/ui/tools/stuffgenerator/colnames/RunesIcon.png');
  background-size: 20px 20px;
  background-position: center center;
}

#stuffgenerator_colname_runes1 {
  width: 139px;
  top: 142px;
  left: 232px;
}

#stuffgenerator_colname_runes2 {
  width: 69px;
  top: 142px;
  left: 390px;
}

#stuffgenerator_colname_runes3 {
  width: 104px;
  top: 142px;
  left: 479px;
}

#stuffgenerator_colname_stuff {
  width: 241px;
  top: 142px;
  left: 602px;
  background-image: url('../../../../../../img/ui/tools/stuffgenerator/colnames/gold.png');
  background-size: 20px 20px;
  background-position: center center;
}

#stuffgenerator_colname_summoners {
  width: 69px;
  top: 142px;
  left: 863px;
  background-image: url('../../../../../../img/ui/tools/stuffgenerator/colnames/spells.png');
  background-size: 40px 40px;
  background-position: 20px 0;
}

#stuffgenerator_colname_spell {
  width: 35px;
  top: 142px;
  left: 951px;
  background-image: url('../../../../../../img/ui/tools/stuffgenerator/colnames/champion.png');
  background-size: 20px 20px;
  background-position: center center;
}
