.tippy-box[data-theme~='lol'] {
  background-color: #010a13;
  color: #c8aa6e;
  border: 1px solid #c8aa6e;
}

.tippy-box[data-theme~='lol'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #c8aa6e;
}

.tippy-box[data-theme~='lol'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #c8aa6e;
}

.tippy-box[data-theme~='lol'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #c8aa6e;
}

.tippy-box[data-theme~='lol'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #c8aa6e;
}
